subflow-with-mustache.json
[
    {
        "id": "0f997947afad6273",
        "type": "subflow",
        "name": "Global TTS",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 200,
                "y": 180,
                "wires": [
                    {
                        "id": "mustache-processor-node"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 800,
                "y": 180,
                "wires": [
                    {
                        "id": "ba7396582476dd1b",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Speaker",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-music",
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Office Speaker"
                                },
                                "v": "media_player.office_speaker"
                            },
                            {
                                "l": {
                                    "en-US": "Kitchen Speaker"
                                },
                                "v": "media_player.kitchen_speaker"
                            },
                            {
                                "l": {
                                    "en-US": "Master Bedroom Display"
                                },
                                "v": "media_player.master_bedroom_display"
                            },
                            {
                                "l": {
                                    "en-US": "All Speakers (home group)"
                                },
                                "v": "media_player.home"
                            }
                        ]
                    }
                }
            },
            {
                "name": "Message",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#3FADB5"
    },
    {
        "id": "mustache-processor-node",
        "type": "function",
        "z": "0f997947afad6273",
        "name": "Process Mustache Templates",
        "func": "// Get environment variables\nvar speaker = env.get('Speaker') || '';\nvar message = env.get('Message') || '';\n\n// Simple template replacement for {{property}} syntax\nfunction replaceTemplates(text, msgObj) {\n    if (!text) return text;\n    \n    var result = text;\n    var pattern = new RegExp('{{\\\\s*([^}]+)\\\\s*}}', 'g');\n    \n    result = result.replace(pattern, function(match, path) {\n        path = path.trim();\n        var parts = path.split('.');\n        var value = msgObj;\n        \n        for (var i = 0; i < parts.length; i++) {\n            if (value && typeof value === 'object' && parts[i] in value) {\n                value = value[parts[i]];\n            } else {\n                return match;\n            }\n        }\n        \n        return (value !== undefined && value !== null) ? value : match;\n    });\n    \n    return result;\n}\n\n// Create context object\nvar context = {};\nfor (var key in msg) {\n    context[key] = msg[key];\n}\ncontext.msg = msg;\n\n// Process templates and add to message\nmsg.processedSpeaker = replaceTemplates(speaker, context);\nmsg.processedMessage = replaceTemplates(message, context);\n\nnode.status({fill: 'green', shape: 'dot', text: 'Processed'});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "ba7396582476dd1b"
            ]
        ]
    },
    {
        "id": "ba7396582476dd1b",
        "type": "api-call-service",
        "z": "0f997947afad6273",
        "name": "",
        "server": "9ef53d5b98a7c90c",
        "version": 7,
        "debugenabled": false,
        "action": "tts.speak",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "tts.google_ai_tts"
        ],
        "labelId": [],
        "data": "{\t   \"message\":msg.processedMessage,\t   \"cache\":true,\t   \"options\": {\"voice\":\"charon\"},\t   \"media_player_entity_id\":msg.processedSpeaker\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "tts",
        "service": "speak",
        "x": 640,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "fef6f6bf6e8c0efc",
        "type": "inject",
        "z": "0f997947afad6273",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 420,
        "y": 100,
        "wires": [
            [
                "ba7396582476dd1b"
            ]
        ]
    },
    {
        "id": "9ef53d5b98a7c90c",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "75f0c5a2790b62d3",
        "type": "inject",
        "z": "18c7ac28ffa3013a",
        "name": "",
        "props": [
            {
                "p": "balls",
                "v": "My balls are itchy billy!!",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 470,
        "y": 600,
        "wires": [
            [
                "0bb2f7caa27f5096"
            ]
        ]
    },
    {
        "id": "0bb2f7caa27f5096",
        "type": "subflow:0f997947afad6273",
        "z": "18c7ac28ffa3013a",
        "name": "",
        "env": [
            {
                "name": "Speaker",
                "value": "media_player.office_speaker",
                "type": "str"
            },
            {
                "name": "Message",
                "value": "{{msg.balls}}",
                "type": "str"
            }
        ],
        "x": 690,
        "y": 600,
        "wires": [
            [
                "03cbc7f10fcbcbb3"
            ]
        ]
    },
    {
        "id": "f9b5cf8df667e9e7",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.79.4"
        }
    }
]
